    /* Global Styles */ 

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    scroll-behavior: smooth;
    height: 100%;
}  

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
.game-wrapper {
    flex-grow: 1;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.container {
    max-width: 1900px;
    margin: 0 auto;
}
