.header__menu {
  padding-left: 40px; 
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__menu--items {
  display: flex;
  gap: 30px;
  align-items: center;
}

/* Модальне вікно */
.modal-window, .modal-help {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: none;
}
  
.modal-window__wrapper, .modal-help__wrapper{
  background-color: #fff; 
  border-radius: 8px;
  padding: 40px;
  width: 90%;
  max-width: 800px; 
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.modal-help__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-close, .modal-help__close {
  position: absolute;
  top: 15px;
  right: 20px;
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.2s;
}
  
.modal-close:hover, .modal-help__close:hover {
  color: #ff8300;
}

#menu {
  display: flex;
  flex-direction: column;
  gap: 50px; 
  align-items: center;
}
  
.selects {
  display: flex;
  justify-content: center;
  gap: 80px;
  width: 100%;
}

.selects__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px 40px;
  width: 100%;
}

#difficulty,
#card-style {
  width: 100%;
  max-width: 200px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}
  
#difficulty:focus,
#card-style:focus {
  outline: none;
  border-color: #ff8300;
}
  
#new-game,
#save-game,
#load-game,
#undo {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #ff8300;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}
 
#new-game:hover,
#load-game:hover,
#save-game:hover,
#undo:hover {
  background-color: #ffbb72; 
}

.modal-help__title {
  font-size: 24px;
  font-family: "Bungee Spice", sans-serif;
  margin-bottom: 10px;
}

.modal-help__text, .rules__list {
  font-family: "Signika Negative", sans-serif;
  font-weight: 200;
}

.modal-help__text span{
  font-weight: 800;
  color: #ff8300;
}

.rules__list {
  padding-left: 0;
}

.rules__item {
  margin-bottom: 20px;
  position: relative;
  padding-left: 20px;
}
  
.rules__item::before {
  content: "•"; 
  position: absolute;
  left: 0;
  color: #ff8300;
  font-size: 28px;
}

.rules__item h3 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.rules__item p {
  font-size: 16px;
  font-weight: 200;
}

#saved-games {
  display: none;
  margin-top: 20px;
}

.saved-games__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.saved-games__title {
  margin-bottom: 25px;
  text-align: center;
}

.saved-games__list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: auto;
  padding: 25px;
  border-radius: 10px;
  border: 3px solid #ff8300;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding-right: 20px;
}

.list-item p {
  line-height: 2;
}

.list-item div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.load-saved-item__btn, .delete-saved-item__btn, .edit-saved-item__btn {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  padding: 15px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.load-saved-item__btn:hover, .delete-saved-item__btn:hover, .edit-saved-item__btn:hover {
  padding: 16px;
}

.load-saved-item__btn {
  background-image: url("/img/checked.png");
}

.edit-saved-item__btn {
  background-image: url("/img/editing.png");
}

.delete-saved-item__btn {
  background-image: url("/img/bin.png");
}

@media (max-width: 600px) {
  .modal-window__wrapper {
    width: 95%;
    padding: 15px;
  }
  
  #difficulty,
  #card-style,
  #new-game,
  #load-game,
  #save-game,
  #undo {
    max-width: 100%;
  }
}