:root {
    font-family: "Boldonse", system-ui;
    scroll-behavior: smooth;
    --accent-color: #ff7b16;
    --title-color: #272727;
    --subtitle-color: #4d4d4d;
    --text-color: #6b6b6b;
    --secondary-text-color: #ffffffc2;
    --main-bg-color: #272727;
    --secondary-bg-color: #1c4c97;
    --light-bg-color: #f8f3ef;
    --light-color: #fff;
    --border-color: #c8c8c8;
    --pre-order-text:#61a854 ;
    --pre-order-bg: #e2ffdd;
    --out-of-stock-text: #cc3833;
    --out-of-stock-bg: #ffddd9;
  }