<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spider Solitaire</title>
    <link rel="shortcut icon" href="./img/spider.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/index.css">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
</head>
<body>
  
  <header class="header" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header.partial.html">
  </header>
  <main>
    <div class="cards-wrapper">

    <div id="cards" class="container"></div>
    <div id="additional-cards"></div>

      <!-- <img  src="img/image.png" alt=""> -->
    </div>

  </main>
  
  <!-- <main class="main">
    <section class="cards" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.cards.partial.html"></section>
    <section class="additional-cards"  data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.additional-cards.partial.html"></section>
    </main> -->
  <footer class="footer" data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer.partial.html"></footer>
  <script type="module" src="js/main.js"></script>
</body>

</html>